.section2 {
    padding: 20px;
    background-color: #3d4351; /* Set the background color to the specified color */
}

.header-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem; /* Adds space at the bottom */
}

.numero {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Creates a round shape */
    text-align: center;
    margin-bottom: 1rem; /* Adds space at the bottom */
    margin-top: 1rem; /* Adds space at the top */
}

.Titre {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 8rem; /* Set margin-bottom to 8rem for all */
    color: #61dafb; /* Apply blue color */
}

.carousel-item img {

    width:1000px;

    border: 40px solid #ddd; /* Add a border to the images */
    border-radius: 50px; /* Add rounded corners to the images */
}

.carousel {
    max-width: 800px; /* Increase the width of the carousel */
    margin: 0 auto; /* Center the carousel */
    height: 500px; /* Set the height of the carousel */
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
    border-radius: 50%; /* Make the icons circular */
    padding: 10px; /* Add some padding */
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Darken the background on hover */
}
.carousel-item {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: block;
    opacity: 1;
}
.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right,
.carousel-item.active.carousel-item-right,
.carousel-item.active.carousel-item-left {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.section2 .Titre {
    margin-bottom: 0; /* Override margin-bottom for competences section */
}
.section2 .header-top {
    margin-bottom: 0; /* Supprime l'espace en bas */
}
.section2 .carousel {
    margin-top: 0; /* Supprimer l'espace en haut du carrousel */
}
@media (max-width: 768px) {
    .carousel {
        max-width: 100%;
        height: auto;
    }
    .carousel-item img {
        border: 20px solid #ddd;
    }
}